@font-face {
  font-family: Chicago;
  src: url('ChicagoFLF.ttf');
}

@font-face {
  font-family: geodesic;
  src: url('geodesic.ttf');
}

@font-face {
  font-family: epilog;
  src: url('epilog.ttf');
}

@font-face {
  font-family: levity;
  src: url('levity.ttf');
}


html {
  box-sizing: border-box;
  font-family: "Verdana";
  font-size: 0.9em;
  color: #3c3c3c;
  background-color: #fff3eb;
  quotes: "\201C" "\201D";
}
qo::before { content: open-quote; }
qo::after  { content: close-quote; }

@media only screen and (max-width: 1000px) {
    html {
      font-size: 28px;
    }
    main {
      max-width: 95%;
      margin: 2ch 2ch;
    }
}
