@font-face {
  font-family: Chicago;
  src: url('ChicagoFLF.ttf');
}

main {
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

div.maincolumn {
    grid-column: 2/10;
}


div#declarations {
    height: 20ch;
}


div#studytopics {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    font-family: Chicago;
}
div#studytopics li {
    list-style-type: "* ";
}


div#updates {
    /* border: 6px outset lightgray; */
    background-color: #f2efff;
    width: 100%;
    margin-top: 55px;
}
div#updates > h4 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border: 1px solid gray;
}
div#updates > div > pre { 
    padding-left: 5px;
    overflow-x: hidden;
}


div#barnum {
  margin-top: 10px;
  padding: 11px;
  background-color: #d5dff9;
  color: #12176a;
}


div#thoughts {
    margin-top: 50px;
    position: relative;
}
div#thoughts p {
    background-image: url('media/thought-cloud.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 600px;
    padding: 34px;
    height: 40px;
    text-align: center;
    font-size: small;
    font-style: italic;
}
div#thoughts img {
    margin-top: -20px;
    float: right;
}


div#buttons {
    grid-column: 12;
    grid-row: 1/10;
    width: 88px;
}
div#buttons img { 
  display: block; 
  margin-bottom: 3px; 
  width: 88px;
}
