@font-face {
  font-family: Chicago;
  src: url('ChicagoFLF.ttf');
}

main {
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
}

div.maincolumn {
    grid-column: 1/8;
}
span.nrcl { color: darkgray; }
span.comment { color: gray; }
span.type { color: blue; font-style: italic; }

span.salink, a.salink, a.salink:visited { 
    color: black; 
    text-decoration: none; 
}
a.salink:hover { text-decoration: underline; }


div#declarations { height: 20ch; }

div#essay-list {
}
div#essay-list ul {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
}
div#essay-list div.month {
    padding: 2px;
    background-color: #ccccff;
}
div#essay-list div.month:nth-child(odd) {
    background-color: #ddddff;
}
div#essay-list em.month-label {
    float: right;
}
div#essay-list li a {
    text-decoration: none;
}

div#studytopics {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    font-family: Chicago;
}
div#studytopics li {
    list-style-type: "* ";
}


div#updates {
    /* border: 6px outset lightgray; */
    background-color: #f2efff;
    width: 100%;
    margin-top: 55px;
}
div#updates > h4 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border: 1px solid gray;
}
div#updates > div > pre { 
    padding-left: 5px;
    overflow-x: hidden;
}


div#barnum {
  margin-top: 10px;
  padding: 11px;
  background-color: #d5dff9;
  color: #12176a;
}


div#floor {
    height: 100px;
    background-image: url('media/floor1.gif');
    background-repeat: repeat-x;
    background-position-y: top;
}
p#thought {
    font-family: Chicago;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: -110px;
    height: 40px;
}


div#buttons {
    grid-column: 12;
    grid-row: 1/10;
    width: 88px;
}
div#buttons img { 
  display: block; 
  margin-bottom: 3px; 
  width: 88px;
}
