html {
  box-sizing: border-box;
  font-family: "Verdana";
  font-size: 0.9em;
  color: #515151;
	background-color: #f0f7f4;
}

body {
  max-width: 60ch;
  padding: 3em 1em;
	margin: auto;
}

p#cp {
  width: 400px;
  text-align: center;
  font-size: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
}

ul {
  padding-left: 0;
}

img {
  max-width: 100%;
}
