@font-face {
  font-family: Chicago;
  src: url('ChicagoFLF.ttf');
}

html {
  box-sizing: border-box;
  font-family: "Verdana";
  font-size: 0.9em;
  color: #3c3c3c;
	background-color: #f5f5ff;
}

div#top { margin: 15px; }

main { height: 100%; }

p#cp {
  text-align: center;
  font-size: 8px;
  margin-top: 50px;
  /* position: absolute;
  bottom: 0; */
}

img { max-width: 100%; }


