
a#back {
    margin-top: 3px;
    margin-left: -15px;
    color: #515151;
    text-decoration: none;
}

h3 { color: black; }

div#top { margin: 15px; }

body {
  margin: 0;
}

main {
  /* max-width: 70ch; */
  /* margin: 10px 20px; */
}

p {
  max-width: 80ch;
}

p#cp {
  position: relative;
  bottom: 0;
  text-align: center;
  font-size: 8px;
  margin-top: 50px;
}

sup { line-height: 0; }

p.caption {
  font-style: italic;
  font-size: smaller;
  margin-left: 25px;
}

img {
  display: inline;
  width: 100%;
  max-width: 500px;
  transition: 0.15s;
}

img.view {
  max-width: 2000px;
  transition: 0.5s;
}

